/* 
    GENERAL
*/
.main-color{
    color: white;
    background-color: #1ABC9C;
    
}

.img_container{
    max-width: 500px;
    margin: 0 auto;
}

.img_container img{
    width: 50%;
}

img{
    width: 100%;
}

.line{
    display: inline-block;    
    width: 80px;
    height: 3px;
    background-color: white;
    position: relative;
    bottom: 12px;
    margin: 0 5px;    
}

.line.black{
    background-color: black;
}

.my-form-control{
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.form-floating .my-form-comment{
    min-height: 200px;
    max-height: 300px;
}

.brands > i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 50px;
    margin: 4px;
}

.footer-top-bg{
    background-color: #3A546D;
}

.footer-bottom-bg{
    background-color: #2C3E50;
}
