/* 
    GENERAL
*/

:root{
    --bs-success-rgb: 26,188,156;

}

img{
    max-width: 250px;
}


.star_container::before,
.star_container::after{
    content:"";
    display: inline-block;    
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    bottom: 12px;
    margin: 0 5px;    
}

.star_container.black::before,
.star_container.black::after{
    background-color: rgb(var(--bs-dark-rgb))
}

.my-form-control{
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.my-form-control:focus{
    box-shadow: none;
}

.form-floating .my-form-comment{
    min-height: 200px;
    max-height: 300px;
}

.my-button{
    --bs-btn-bg: rgb(26,188,156);
    --bs-border-color:rgb(26,188,156);
}

.brands > i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 50px;
    margin: 4px;
}

.footer-top-bg{
    background-color: #3A546D;
}

.footer-bottom-bg{
    background-color: #2C3E50;
}
