/* 
    GENERAL
*/
.main-color{
    color: white;
    background-color: #1ABC9C;
    
}

.small-container{
    width: 75%;
    margin:0 auto;
}

.main-head > *{
    padding: 15px 0;
}


.img_container{
    max-width: 500px;
    margin: 0 auto;
}

main{
    padding-top: 56px;
}

.img_container img{
    width: 50%;
}

img{
    width: 100%;
}


.line{
    display: inline-block;    
    width: 80px;
    height: 3px;
    background-color: white;
    position: relative;
    bottom: 12px;
    margin: 0 5px;    
}

.line.black{
    background-color: black;
}